@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

:root {
  --background-rgb: 0, 0, 0;
}

body {
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
}

body,
pre,
code,
input {
  font-family: 'Courier New', Courier, 'Noto Sans SC', monospace;
}

input {
  background: transparent;
  border: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(40, end);
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

  to {
    width: 100%
  }


@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #22c55e
  }
}